# Ignore environment & secrets
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter notebooks (if any)
.ipynb_checkpoints

# Streamlit logs
.streamlit/

# VSCode or PyCharm files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
